@font-face {
    font-family: Dancing_Script-Regular;
    src: url(../fonts/Dancing_Script/static/DancingScript-Regular.ttf);
}

$containerMaxWidth: 1440px;

$HeaderColorB: #03a9f4;
$logoColorB: #3dc3ff;
$navColorB: #4d5bf9;
$colorBacground: #ededed;

$colorChatText: #95aac9;

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}