@font-face {
    font-family: Caveat-Regular;
    src: url(../fonts/Caveat/static/Caveat-Regular.ttf);
}

@font-face {
    font-family: Dancing_Script-Regular;
    src: url(../fonts/Dancing_Script/static/DancingScript-Regular.ttf);
}

$HeaderColorB: #03a9f4;
$logoColorB: #3dc3ff;
$navColorB: #4d5bf9;
$colorBacground: #ededed;
$containerMaxWidth: 1440px;


@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}