header {
    user-select: none;
    width: 100%;
    height: 10vh;
    background-color: #2a2f43;
    display: flex;
    justify-content: space-between;

    .logo {
        width: 300px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            letter-spacing: 4px;
            font-size: 34px;
            font-family: Dancing_Script-Regular;
            color: $logoColorB;
        }
    }

    .header-info {
        display: flex;
        padding-left: 20px;

        .header-menu {
            display: flex;
            align-items: center;

            .icon {
                cursor: pointer;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                margin: 0 15px;
                transition: transform .05s ease-in-out;

                &:hover {
                    transform: scale(1.075);
                }

                &>i {
                    display: block;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                }

                .dark-theme {
                    background-image: url('../assets/png/header/001-dark-theme.svg');
                }

                .notifications {
                    background-image: url('../assets/png/header/002-notifications.svg');
                }

                .search {
                    background-image: url('../assets/png/header/003-search.svg');
                }

                .add-post {
                    background-image: url('../assets/png/header/004-add-post.svg');
                }
            }
        }

        .login {
            padding: 0 30px;
            display: flex;
            align-items: center;

            button {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                cursor: pointer;
                font-size: 14px;
                padding: 10px;
                margin: 0 8px;
                font-weight: 400;
                width: 120px;
                text-transform: uppercase;
                transition: all .15s ease-in-out;
                border-radius: 20px;

                &:first-of-type {
                    background-color: $HeaderColorB;
                    border: 1px solid $HeaderColorB;

                    &::before {
                        content: "\f234";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        font-size: 14px;
                        margin-right: 8px;
                    }

                    &:hover {
                        background: transparent;
                        color: $HeaderColorB;
                    }
                }

                &:last-of-type {
                    background: none;
                    color: #fff;
                    border: 1px solid rgb(255, 255, 255, .8);

                    &::before {
                        content: "\f2f6";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        font-size: 14px;
                        margin-right: 8px;
                    }

                    &:hover {
                        background: $HeaderColorB;
                        color: #000;
                        border: 1px solid $HeaderColorB;
                    }
                }
            }
        }
    }

}