nav {
    user-select: none;
    flex: 0 0 70px;
    border-radius: 0 10px 10px 0;
    border-left: 5px solid $navColorB;
    background-color: $navColorB;
    transition: flex .5s ease-in-out;
    overflow: hidden;
    // align-self: baseline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.active {
        flex: 0 0 300px;
    }

    ul {
        padding: 30px 0 10px;

        li {
            position: relative;
            list-style: none;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;

            &:hover a .icon {
                transform: scale(1.05);
            }

            &.active {
                background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, $colorBacground 100%);

                b:nth-child(1),
                b:nth-child(2) {
                    display: block;
                }

                a {
                    color: #333;
                }
            }

            b:nth-child(1),
            b:nth-child(2) {
                position: absolute;
                height: 20px;
                width: 100%;
                background: $colorBacground;
                display: none;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $navColorB;
                }
            }

            b:nth-child(1) {
                top: -20px;

                &::before {
                    border-bottom-right-radius: 20px;
                }
            }

            b:nth-child(2) {
                bottom: -20px;

                &::before {
                    border-top-right-radius: 20px;
                }
            }

            a {
                display: flex;
                color: #fff;
                text-transform: capitalize;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                white-space: nowrap;

                .icon {
                    margin-left: 2px;
                    min-width: 60px;
                    height: 60px;
                    text-align: center;
                    line-height: 70px;

                    ion-icon {
                        font-size: 1.5em;
                    }
                }

                .title {
                    padding-left: 10px;
                    height: 60px;
                    line-height: 60px;
                }
            }
        }
    }

    .toggle {
        margin: 10px 0 10px 5px;
        background-color: $navColorB;
        width: 50px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s ease-in-out;
        border-radius: 50%;

        &.active {
            background-color: #3f13ab;
            border-radius: 4px;

            ion-icon[classname="close"] {
                display: block !important;
            }

            ion-icon[classname="open"] {
                display: none !important;
            }
        }

        ion-icon {
            position: absolute;
            color: #fff;
            font-size: 34px;
            display: none;

            &[classname="open"] {
                display: block !important;
            }

            &[classname="close"] {
                display: none !important;
            }
        }
    }
}