nav {
    user-select: none;
    flex: 0 0 75px;
    max-width: 25vw;
    min-width: 75px;
    border-radius: 0 10px 10px 0;
    border-left: 5px solid $navColorB;
    background-color: $navColorB;
    transition: all .5s ease-in-out;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.active {
        flex: 0 0 300px;
        min-width: 200px;
    }

    ul {
        padding: 40px 0 10px;

        li {
            position: relative;
            list-style: none;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            margin-bottom: 8px;

            &:nth-of-type(3) a .icon {
                padding: 18px;
            }

            &:hover a .icon {
                transform: scale(1.05);
            }

            &.active {
                background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, $colorBacground 100%);

                b:nth-child(1),
                b:nth-child(2) {
                    display: block;
                }

                a {
                    .icon {
                        i {
                            background-color: #000;
                        }
                    }
                    span {
                        color: #000;
                    }
                }
            }

            b:nth-child(1),
            b:nth-child(2) {
                position: absolute;
                height: 20px;
                width: 100%;
                background: $colorBacground;
                display: none;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: $navColorB;
                }
            }

            b:nth-child(1) {
                top: -20px;

                &::before {
                    border-bottom-right-radius: 20px;
                }
            }

            b:nth-child(2) {
                bottom: -20px;

                &::before {
                    border-top-right-radius: 20px;
                }
            }

            a {
                display: flex;
                color: #fff;
                text-transform: capitalize;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                white-space: nowrap;

                .icon {
                    min-width: 60px;
                    height: 60px;
                    margin-left: 2px;
                    padding: 20px;

                    & > i {
                        display: block;
                        background-size: 37%;
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 100%;
                        height: 100%;
                        background-color: #fff;

                        &.home {
                            mask-image: url('../assets/png/navigation/001-home.svg');
                        }
                        &.profile {
                            mask-image: url('../assets/png/navigation/002-profile.svg');
                        }
                        &.friends {
                            mask-image: url('../assets/png/navigation/003-friends.svg');
                        }
                        &.chat {
                            mask-image: url('../assets/png/navigation/004-chat.svg');
                        }
                        &.settings {
                            mask-image: url('../assets/png/navigation/005-settings.svg');
                        }
                        &.lock {
                            mask-image: url('../assets/png/navigation/006-lock.svg');
                        }
                        &.sign-out {
                            mask-image: url('../assets/png/navigation/007-sign-out.svg');
                        }
                    }
                }

                .title {
                    padding-left: 10px;
                    height: 60px;
                    line-height: 60px;
                }
            }
        }
    }

    .toggle {
        margin: 10px 0 10px 5px;
        background-color: $navColorB;
        width: 50px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s ease-in-out;
        border-radius: 50%;

        &.active {
            background-color: #3f13ab;
            border-radius: 4px;

            ion-icon[classname="close"] {
                display: block !important;
            }

            ion-icon[classname="open"] {
                display: none !important;
            }
        }

        ion-icon {
            position: absolute;
            color: #fff;
            font-size: 34px;
            display: none;

            &[classname="open"] {
                display: block !important;
            }

            &[classname="close"] {
                display: none !important;
            }
        }
    }
}